<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ls.demo.nice.dao.SecretDao" >

    <select id="querySecretList" resultType="com.ls.demo.nice.vo.SecretVo" parameterType="com.ls.demo.nice.vo.PageVo">
        SELECT
          id AS id,
          secret_text AS secretText,
          create_time AS createTime
        FROM t_secret
        ORDER BY create_time DESC
        limit #{start},#{end}
    </select>

    <insert id="insertSecret" parameterType="com.ls.demo.nice.vo.SecretVo">
        INSERT INTO t_secret(secret_text,create_time) VALUE(#{secretText},#{createTime, jdbcType=TIMESTAMP})
    </insert>

</mapper>